$color-primary: #3f51b5;
$color-black: rgba(0, 0, 0);
$color-white: rgba(255, 255, 255);
$color-green: rgba(46, 125, 50);
$color-red: rgba(255, 0, 0);

$main-background-color: rgba(250, 250, 250);

$btn-disabled-backgroundColor: rgba(0, 0, 0, 0.12);
$btn-disabled-textColor: rgba(0, 0, 0, 0.25);
