<div class="layout-container">
  <app-overlay-loader></app-overlay-loader>
  <app-top-nav (sideNavToggled)="sideNavToggled()"></app-top-nav>
  <mat-sidenav-container [style.marginTop.px]="toolBarHeight" class="sidenav-container">
    <mat-sidenav class="sidenav mat-elevation-z10" [mode]="sideNavMode" [opened]="sideNavOpened"
                 (closed)="handleClosed()">
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <main [@routerTransition]="prepareRoute(outlet)" class="main-container">
        <router-outlet #outlet="outlet"></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
