<form (ngSubmit)="handleSubmitBtnSearch()" [formGroup]="formData">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
      <app-text-field
        [formGrp]="formData"
        appInputCapitalizeDirective="every"
        formCtrlNm="name"
        label="Name"
      ></app-text-field>
    </div>

    <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
      <app-text-field
        [formGrp]="formData"
        appInputLowercaseDirective
        formCtrlNm="email"
        label="Email"
        type="email"
      ></app-text-field>
    </div>

    <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
      <app-radio-button
        [buttons]="buttonsGender"
        [formGrp]="formData"
        formCtrlNm="gender"
        label="Gender"
      ></app-radio-button>
    </div>

    <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
      <app-radio-button
        [buttons]="buttonsStatus"
        [formGrp]="formData"
        formCtrlNm="status"
        label="Status"
      ></app-radio-button>
    </div>
  </div>
  <div>
    <button [disabled]="!formData.dirty" color="primary" mat-raised-button type="submit">
      <mat-icon>search</mat-icon>
      Search
    </button>
    &nbsp; &nbsp;
    <button (click)="handleClickBtnReset()" [disabled]="!formData.dirty" class="btn-green" mat-raised-button
            type="button">
      <mat-icon>refresh</mat-icon>
      Reset filter
    </button>
  </div>
</form>
